<div class="py-10 px-10">
  <h1 class="flex justify-center font-bold text-8xl mb-36">Daily News</h1>
  <div class="flex  gap-4 justify-center my-24">
    <input [(ngModel)]="searchTerm" class="border-2 border-zinc-300 rounded-2xl w-96 px-5"  type="text" placeholder="Search for news" />
    <button class="bg-blue-500  py-2 text-white rounded-2xl w-20 flex justify-center" (click)="getSearchedNews()">
      <span class="[&>svg]:h-8 [&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          /></svg
      ></span>
    </button>
  </div>
  <div class="flex gap-14">
    <div class="flex flex-col gap-10" *ngIf="articles">
      <div
        class="bg-slate-50 rounded-2xl flex flex-col justify-center items-center py-7 px-2 gap-7"
        *ngFor="let article of articles"
        (click)="getArticle(article.title)"
      >
        <img class="h-fit w-fit" [src]="article?.urlToImage" />
        <h1 class="font-medium text-2xl">{{ article?.title }}</h1>
      </div>
    </div>
    <div
      class="flex flex-col gap-5 border-2 border-gray-500 px-5 w-full h-fit py-4"
    >
      <h1 class="font-semi-bold text-2xl flex justify-center">Publishers</h1>
      <div class="grid grid-cols-2 gap-5 w-fit justify-center">
        <p
          class="cursor-pointer w-fit hover:text-blue-500"
          *ngFor="let publisher of authors; let i = index"
          (click)="getPublisherArticles(publisher.source.name)"
        >
          {{ publisher?.source?.name }}
        </p>
      </div>
    </div>
  </div>
</div>
